*{
    font-family: Papyrus, 'Times New Roman', Times, serif;
    background-color: #ccc;
}

.title{
    text-align: center;
    text-decoration: underline;
}

.recipe-list{
    list-style: none;
}

.recipe{
    text-decoration: none;
}

.recipe-title{
    margin-top: 50px;
    margin-bottom: 2px;
}

.hummus-picture{
    width: 500px;
    height: auto;
    border: solid 3px black;
}

.hummus-picture:hover{
    border: solid 3px blue;
}

.neapolitan-pizza-picture{
    width: 500px;
    height: auto;
    border: solid 3px black;
}

.neapolitan-pizza-picture:hover{
    border: solid 3px blue;
}

.pesto-pasta-picture{
    width: 500px;
    height: auto;
    border: solid 3px black;
}

.pesto-pasta-picture:hover{
    border: solid 3px blue;
}
